<ion-header>

      <ion-navbar>
        <ion-title> {{myClassName}} - {{mySectionName}} : {{periodName}}</ion-title>
      </ion-navbar>

    </ion-header>


    <ion-content cache-view="false">
        <form  #postData="ngForm" (ngSubmit)="postAttendance(postData.value)">
     <div class="floatLeft">


        <ion-list no-padding class="listClass">
            <ion-item *ngFor="let student of students;index as i">
              <div class="div1">


     <img (click)="takePhoto(student.studentId,myClassName,mySectionName,student.studentName,$event)" [src]="student.photo" width="60px">

                </div>

              <div class="div2">
                  <h2 class="headingSize">Roll No: {{student.studentId}}</h2>
                  <input type="hidden" name="rollNo_{{i+1}}"   value="{{student.studentId}}" #stid [(ngModel)]="student.studentId"  />
                  <input type="hidden" name="classId_{{i+1}}"   value="{{student.classId}}" #clid [(ngModel)]="student.classId"  />
                  <input type="hidden" name="sectionId_{{i+1}}"   value="{{student.sectionId}}" #secid [(ngModel)]="student.sectionId"  />

                  <p style="color:#410808">{{student.studentName}}</p>

              </div>
              <div class="div4">
                   <input type="hidden" value="{{student.attStatus}}" class="txt"  #val name="attStatus_{{i+1 }}" [(ngModel)]="student.attStatus" />
                  <button [ngClass]="student.attStatus=='P' ? 'greenColor' : 'redColor'"   type="button" [class]="selectedClass ? 'presentClass' : 'absentClass'" name="att_status_{{i+1}}"  id="btn{{i}}" (click)="student.attStatus = 'P'? changeValue(student.attStatus,$event): null">
                     {{student.attStatus}}
                     </button>
              </div>



            </ion-item>

            <ion-item >
              <div class="textCenter">
             <button *ngIf="students?.length>0"  ion-button full round  class="btn-style">SUBMIT</button>
              <div style="height:10px"></div>
              <p style="font-size:18px;color:red;text-align:center;margin-right:30%;" *ngIf="students?.length<=0" >No Students Found..!</p>
             <button  ion-button full round type="button"   class="btn-style-goback" (click)="goback()">GO BACK</button>

            </div>
              </ion-item>
         <ion-item *ngIf="students?.length>0" >

           <h3 style="text-align:center;">Attendance By: <span style="color:red;">{{username}}-{{schoolId}}</span></h3>


          </ion-item>



          </ion-list>
        </div>
      </form>


    </ion-content>
